$background: white;

$color-primary-0-inverse: #DCE0DE;
$color-primary-0-disabled: #828282;

// OLD Palette URL: http://paletton.com/#uid=52Y0v0k6kpN1Fx13EsK9PnpeqlD
// Palette URL: http://paletton.com/#uid=52Y0v0kihcW9ThVcadKmZbMsP95
$color-primary-0: #204A31;	// Main Primary color */
$color-primary-1: #476754;
$color-primary-2: #314F3D;
$color-primary-3: #134327;
$color-primary-4: #053418;

$color-secondary-1-0: #1E3641;	// Main Secondary color (1) */
$color-secondary-1-1: #40525A;
$color-secondary-1-2: #2C3D45;
$color-secondary-1-3: #132E3B;
$color-secondary-1-4: #07212E;

$color-secondary-2-0: #475E28;	// Main Secondary color (2) */
$color-secondary-2-1: #71825A;
$color-secondary-2-2: #53643E;
$color-secondary-2-3: #3B5618;
$color-secondary-2-4: #284207;

$a-tags: "a, a:active, a:hover, a:visited";
$a-tags-hover: "a:active, a:hover";
$selected: "&:hover, &:focus";
$nav-tab-border: #DEE2E6;
$row-margins: "0 0 16px -15px";
