$background: #A2A2A2;

$color-primary-0-inverse: #282828;
$color-primary-0-disabled: #828282;

// Palette URL: http://paletton.com/#uid=52Y0v0k6kpN1Fx13EsK9PnpeqlD */
$color-primary-0: #779482;	// Main Primary color */
$color-primary-1: #B0BAB4;
$color-primary-2: #92A59A;
$color-primary-3: #5D866E;
$color-primary-4: #447C5B;

$color-secondary-1-0: #6A7A82;	// Main Secondary color (1) */
$color-secondary-1-1: #9CA2A4;
$color-secondary-1-2: #818C91;
$color-secondary-1-3: #546B76;
$color-secondary-1-4: #3E5E6D;

$color-secondary-2-0: #ABBC97;	// Main Secondary color (2) */
$color-secondary-2-1: #E4EADD;
$color-secondary-2-2: #C7D1B9;
$color-secondary-2-3: #94AA76;
$color-secondary-2-4: #7F9D56;

$a-tags: "a, a:active, a:hover, a:visited";
$a-tags-hover: "a:active, a:hover";
$selected: "&:hover, &:focus";
$nav-tab-border: #DEE2E6;
$row-margins: "0 0 16px -15px";
