@import "variables";

/* EXTENDS */

%primary-color-text {
  color: $color-primary-0;
  background-color: $color-primary-0-inverse;
}
%inverse-color-text {
  color: $color-primary-0-inverse;
  background-color: $color-primary-0;
}

/* Basic CSS Overloads */

html {
  overflow-y: scroll;
}
body {
  background-color: $background;
  color: $color-primary-0-inverse;
  font-family: "Montserrat", "Avenir";
  height: 100vh;
}
.loading {
  margin-top: 10em;
  text-align: center;
  color: gray;
}
.container-fluid {
  height: calc(100% - 152px - 42px - 15px);
  padding-top: 15px;
}
.row {
  height: 100%
  // div {
  //   height: 100%
  // }
}
h1 {
  @extend %inverse-color-text;
  margin-bottom: 0;
  padding: 20px 0;
  text-align: center;
  a {
    text-decoration: none;
  }
}
a, a:hover {
  color: inherit;
}

/* MISC DIVS */

.stripe {
  @extend %primary-color-text;
  height: 32px;
  font-size: 16px;
  text-align: right;
  &.text-center {
    display: block;
    height: 32px;
    padding: 3px 15px;
  }
  button {
    @extend %primary-color-text;
    border: none;
    border-radius: 0;
    background: none;
    padding: 0 6px;
    height: 100%;
    transition: all .3s;
    outline: none;
  }
  button:hover {
    @extend %inverse-color-text;
  }
  .dropdown {
    display: inline-block;
    height: 100%;
    position: relative;
    &:hover .dropdown-content {
      display: block;
    }
    a {
      display: block;
      height: 32px;
      padding: 3px 15px;
      &:hover {
        background-color: $color-primary-4;
        color: white;
        text-decoration: none;
      }
    }
    .dropdown-content {
      display: none;
      background-color: $color-secondary-2-1;
      position: absolute;
      width: 100%;
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      z-index: 10;
      a {
        display: block;
        color: $color-primary-0-inverse;
        padding: 7px 0;
        text-decoration: none;
        height: inherit;
        width: 100%;
        text-align: center;
        &:hover {
          background-color: $color-primary-4;
          color: white;
        }
      }
    }
  }
}

// button

button.btn-primary {
  justify-content: center;
  font-weight: bold;
  letter-spacing: 2px;
  transition: all .2s;

  /* Default with add specificites for nonsense */
  &, &.active, &.btn:not(.disabled):active {
    @extend %inverse-color-text;
    border-color: $color-primary-0;
  }
  &.btn {
    font-weight: bold;
    letter-spacing: 3px;
  }
  &:not(.active):not(button) {
    background-color: $color-primary-4;
    border-color: $color-primary-4;
    color: $color-primary-3;
  }
  &.disabled:not(button), &:disabled {
    background-color: $color-primary-0-disabled;
    border-color: $color-primary-0-disabled;
    color: $color-primary-3;
  }
  &:not(.active):not(:disabled) {
    #{$selected} {
      background-color: $color-secondary-2-0;
      border-color: $color-secondary-2-0;
      color: $color-primary-0-inverse;
      text-decoration: none;
    }
  }
}

// Slider

.slider {
  &.slider-horizontal {
    width: 100%
  }
  .tooltip {
    &.in {
      opacity: 1;
    }
    .tooltip-inner{
      margin-left: 50px;
    }
  }
  .slider-track {
    .slider-selection {
      background-image: none;
    }
  }
  .slider-tick {
    background-image: linear-gradient(to bottom,$color-primary-0-inverse 0,$color-primary-0-inverse 100%)
  }
}
.slider-handle {
  background-color: $color-primary-4;
  background-image: -webkit-linear-gradient(top, $color-primary-3 0, $color-primary-4 100%);
}
.slider-tick-label {
  color: $color-primary-0;
}

// CARDS

.card {
  @extend %inverse-color-text;
  border-radius: 0;
  .collapse {
    background-color: $background;
  }
  .card-header {
    padding: 5px;
    button {
      @extend %inverse-color-text;
      display: block;
      width: 100%;
      padding: 0;
      text-decoration: none;
      border-radius: 0;
    }
    &:first-child {
      border-radius: 0;
    }
  }
  .card-body {
    padding: 10px 20px;
  }
}

.round-top {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

// MAP FORMATTING

.mapid {
  height: 100%;
  width: 100%;
}

// TABS

.tabContent {
  height: 100%;
  .tab-pane {
    height: 100%;
  }
}

// PLAYBACK

.playback {
  display: flex;
  width: 100%;
  margin-bottom: 0;
  padding-top: 10px;
  justify-content : space-between;
  align-items: center;
  &.div-center {
    margin: $auto-margins;
    width: 90%;
    padding-top: 15px;
  }
  .slider {
    .tooltip {
      &.in {
        opacity: 0;
      }
    }
  }
}

.fa-lg {
  color: $color-primary-1;
  &.disabled {
    color: $color-primary-0-inverse;
  }
  &.active {
    color: $color-primary-4;
  }
}
