@import "variables";

/* EXTENDS */

%primary-color-text {
  color: $color-primary-0;
  background-color: $color-primary-0-inverse;
}
%inverse-color-text {
  color: $color-primary-0-inverse;
  background-color: $color-primary-0;
}

/* Basic CSS Overloads */

html {
  overflow-y: scroll;
}
body {
  background-color: $background;
  color: $color-primary-0-inverse;
  font-family: "Montserrat", "Avenir";
  height: 100vh;
}
.loading {
  margin-top: 10em;
  text-align: center;
  color: gray;
}
h1 {
  @extend %inverse-color-text;
  margin-bottom: 0;
  padding: 20px 0;
  text-align: center;
  a {
    text-decoration: none;
  }
}
a, a:hover {
  color: inherit;
}

/* MISC DIVS */

.stripe {
  @extend %primary-color-text;
  height: 28px;
  font-size: 16px;
  text-align: right;
  .dropdown {
    display: inline-block;
    height: 100%;
    position: relative;
  }
  button {
    @extend %primary-color-text;
    border: none;
    border-radius: 0;
    background: none;
    padding: 0 6px;
    height: 100%;
    transition: all .3s;
    outline: none;
  }
  button:hover {
    @extend %inverse-color-text;
  }
}

// MAP FORMATTING

.container-fluid {
  height: calc(100% - 144px);
}

.mapid {
  height: 100%;
  width: 100%;
}
